@import "variables";
@import "../vendor/bootstrap-sass/stylesheets/bootstrap";


.screen-reader-text {
  @extend .sr-only;
}

// Site Header
.site-header {
  background-color: black;
  color: white;
  padding-top: 40px;
}
.site-header-inner {
  @extend .container;
}
.site-branding {
  @extend .row;
}
.site-title, .site-description {
  @extend .col-sm-6;
}
.site-description {
  @media screen and (min-width: $screen-sm-min) {
    padding-top: 2.8%;
  }
}


// Site Body
.site-content-wrapper {
  @extend .container;
  background-color: white;
}
.site-content {
  @extend .row;
}
.content-area {
  @extend .col-md-9;
}
.sidebar-wrapper {
  @extend .col-md-3;
}
.widget-area {
  padding: 20px 10px;
  .widget-title {
    @extend .page-header;
  }
  .FeedburnerEmailWidget, .search-form {
    .form-inner {
      @extend .input-group;
    }
    .submit {
      @extend .input-group-btn;
      button {
        @extend .btn;
      }
    }
    input[type="text"], input[type="search"] {
      @extend .form-control;
    }
  }
  .FeedburnerEmailWidget .submit button {
    @extend .btn-success;
  }
  .search-form .submit button {
    @extend .btn-primary;
  }
  .widget_authors ul {
    @extend .media-list;
    li {
      @extend .media;
      img {
        @extend .media-object, .pull-left;
      }
      a {
        @extend .media-body;
      }
    }
  }
  .widget_categories ul {
    @extend .list-unstyled;
  }
  .image-ads {
    padding-top: 20px;
    img { @extend .img-responsive; margin: 10px auto; }
  }
}


//  Site Footer
.site-footer {
  background-color: #000000;
  color: white;
  padding: 20px 0 0 0;
}
.footer-inner {
  @extend .container;
}
.site-info {
  @extend .row;
}
.blog-links {
  @extend .col-sm-6;
  ul {
    @extend .list-unstyled;
  }
}
.planview-brand {
  text-align: right;
  padding-top: 4%;
  @extend .col-sm-6;
}

//  Posts
.entry-header {
  @extend .page-header;
  .entry-meta {
    @extend .media;
    img.avatar {
      @extend .media-body
    }
    p.meta-text {
      @extend .media-body;
    }
    .updated {
      @extend .hidden;
    }
  }
}

.entry-actions {
  @extend .pull-right;
  .comments-link a {
    @extend .label, .label-primary;
  }
}


//  Paging
.paging-navigation, .post-navigation {
  ul.nav-links {
    @extend .pager;
    .nav-previous {
      @extend .previous;
      .meta-nav {@extend .glyphicon, .glyphicon-chevron-left;}
    }
    .nav-next {
      @extend .next;
      .meta-nav {@extend .glyphicon, .glyphicon-chevron-right;}
    }
  }
}
