@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,700);

@import "variables";
@import "../vendor/bootstrap-sass/stylesheets/bootstrap";

label {
  font-family: $headings-font-family;
  color: $gray;
}

.screen-reader-text {
  @extend .sr-only;
}

// Site Header
.site-header {
  background-color: black;
  color: white;
  padding-top: 40px;
  @media screen and (min-width: $screen-sm-min) {
    position: absolute;
    width: 100%;
    height: 140px;
    z-index: $zindex-navbar-fixed;
  }
}
.site-header-inner {
  @extend .container;
}
.site-branding {
  @extend .row;
}
.site-title, .site-description {
  @extend .col-sm-6;
}
.site-description {
  color: inherit;
  @media screen and (min-width: $screen-sm-min) {
    padding-top: 2.8%;
  }
}


// Site Body
.site-content-wrapper {
  @extend .container;
  background-color: white;
  @media screen and (min-width: $screen-sm-min) {
    padding-top: 140px;
  }
}
.site-content {
  @extend .row;
  padding-top: 10px;
}
.content-area {
  @extend .col-md-9;
}
.sidebar-wrapper {
  border-left: 1px solid $gray-lighter;
  @extend .col-md-3;
}
.widget-area {
  .widget-title {
    @extend .page-header;
  }
  .FeedburnerEmailWidget, .search-form {
    .form-inner {
      @extend .input-group;
    }
    .submit {
      @extend .input-group-btn;
      button {
        @extend .btn;
      }
    }
    input[type="text"], input[type="search"] {
      @extend .form-control;
    }
  }
  .FeedburnerEmailWidget .submit button {
    @extend .btn-success;
  }
  .search-form .submit button {
    @extend .btn-primary;
  }
  .widget_authors ul {
    @extend .media-list;
    li {
      @extend .media;
      img {
        @extend .media-object, .pull-left;
      }
      a {
        @extend .media-body;
      }
    }
  }
  .widget_categories ul {
    @extend .list-unstyled;
  }
  .image-ads {
    padding-top: 20px;
    @extend .row;
    .ad { @extend .col-xs-6, .col-md-12; }
    img { @include img-responsive(); margin-top: 10px; @include center-block(); }
  }
}


//  Site Footer
.site-footer {
  background-color: #000000;
  color: white;
  padding: 20px 0 0 0;
}
.footer-inner {
  @extend .container;
}
.site-info {
  @extend .row;
}
.blog-links {
  @extend .col-sm-6;
  ul {
    @extend .list-unstyled;
  }
}
.planview-brand {
  text-align: right;
  padding-top: 4%;
  @extend .col-sm-6;
}

//  Posts
.entry-header {
  @extend .page-header;
  .entry-meta {
    @extend .media;
    img.avatar {
      @extend .media-body
    }
    p.meta-text {
      @extend .media-body;
    }
    .updated {
      @extend .hidden;
    }
  }
}

.entry-actions {
  @extend .pull-right;
  .comments-link a {
    @extend .label, .label-primary;
  }
}


// Comments
.comments-area {
  .comment-meta {@extend .media-heading;}
  .comment-avatar {@extend .pull-left;}
  .comment-body {@extend .media-body;}
  ul {@extend .media-list;}
  li {@extend .media;}
  .comment-edit-link {@extend .label, .label-warning; margin-left: 5px;}
  .reply {margin-bottom: 10px;}
  .comment-reply-link {@extend .label, .label-success; margin-left: 5px;}
}
#commentform {
//  @extend .form-horizontal;
}
.comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url {
  @extend .form-group;
//  label {@extend .col-sm-2;}
//  .input-wrapper { @extend .col-sm-10; }
  input, textarea { @extend .form-control; }
  .required { @extend .text-danger; }
}
#commentsubmit {
  @extend .btn, .btn-lg, .btn-primary; //.col-sm-offset-2;
}

//  Paging
.paging-navigation, .post-navigation {
  ul.nav-links {
    @extend .pager;
    .nav-previous {
      @extend .previous;
      .meta-nav {@extend .glyphicon, .glyphicon-chevron-left;}
    }
    .nav-next {
      @extend .next;
      .meta-nav {@extend .glyphicon, .glyphicon-chevron-right;}
    }
  }
}
